(
	function () {
		if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too
			script = document.createElement( 'script' );
		   script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';
			script.onload=proceed;
			document.body.appendChild(script);
		} else {
			proceed();
		}
		var divID;
		var myUUID;
		function proceed() {
			// add visual indicator that we're saving
			myUUID = "nypl_"+guid();
			divID = "#"+myUUID;
			var html = '<div id="' + myUUID + '"></div>';
			$('body').prepend(html);
			$(divID).css("background-color", "rgba(0,0,0,0.75)");
			$(divID).css("position", "absolute");
			$(divID).css("z-index", "10000001");
			$(divID).css("width", "100%");
			$(divID).css("height", "100%");
			$(divID).css("color", "#fff");
			$(divID).css("font-size", "40px");
			$(divID).css("text-align", "center");
			$(divID).css("text-shadow", "#000 -3px 2px 0");
			$(divID).css("font-family", "Helvetica, Arial, sans-serif");
			//$(divID + " div.txt_" + myUUID).css("margin-top", "60px");
			var formhtml = '<form id="f_' + myUUID + '" method="get" action="" onsubmit="return false;"><input type="text" value="" placeholder="type your tags here" id="tag_' + myUUID + '" /><br /></br /><a id="a_' + myUUID + '">Tag it!</a></form>';
			$(divID).append(formhtml);
			$("#tag_"+myUUID).css("font-size", "40px");
			$("#tag_"+myUUID).css("font-family", "Inconsolata, Monaco, Courier New, monospace");
			$("#tag_"+myUUID).css("margin-top", "60px");
			$("#a_"+myUUID).css("font-size", "30px");
			$("#a_"+myUUID).css("border-radius", "14px");
			$("#a_"+myUUID).css("color", "#fff");
			$("#a_"+myUUID).css("background-color", "#ccc");
			$("#a_"+myUUID).css("text-decoration", "none");
			$("#a_"+myUUID).css("padding", "10px");
			$("#a_"+myUUID).css("text-shadow", "none");
			$("#a_"+myUUID).hover(function() {
				$(this).css("color", "#f00");
				$(this).css("background-color", "#000");
			});
			$("#a_"+myUUID).mousedown(function() {
				$(this).css("color", "#fff");
				$(this).css("background-color", "#f00");
			});
			$("#a_"+myUUID).mouseout(function() {
				$(this).css("color", "#fff");
				$(this).css("background-color", "#ccc");
			});
			$("#tag_"+myUUID).focus();
			// for escape key
			$(document).keyup(function(e) {
				if (e.keyCode == 13) { saveURL($("#tag_"+myUUID).val()); }     // enter
				if (e.keyCode == 27) { remove(); }   // esc
			});
			$("#a_"+myUUID).click(function() {
				saveURL($("#tag_"+myUUID).val());
			});
			// execute
		}
		function goModal() {
		    if (/Firefox/.test(navigator.userAgent)) {
		        setTimeout(a, 0);
		    } else {
		        a();
		    }
		}
		function a () {
			f = '<%="http://#{request.host_with_port}/save"%>?url=';
			f += encodeURIComponent("<%="#{params[:u]}"%>") + '&title=';
			f += encodeURIComponent("NYPL Tagger") + '&notes=';
			f += encodeURIComponent()+'&v=6&';
			alert(f);
	        if (!window.open(f + 'noui=1&jump=doclose', 'nyplt1', 'location=1,links=0,scrollbars=0,toolbar=0,width=550,height=585')) {
	        	location.href = form + '?jump=yes';
	        }
	    };
	    function saveURL (tags) {
			var sel = ''+(window.getSelection ? window.getSelection() : document.getSelection ? document.getSelection() : document.selection.createRange().text);
			$.ajax({
			  url: '<%="http://#{request.host_with_port}/s/add"%>',
			  type:"GET",
			  dataType:"jsonp",
			  data: {<%="u:'#{params[:u]}',t:document.title,i:'#{params[:t]}',s:sel,a:tags"%>}
			}).done(function(msg) {
			  $(divID + " div.txt_" + myUUID).html('Done!');
			  // revert title to original state
			  $(divID).delay(200).fadeOut(50,function(){remove();});
			});
			var msghtml = '<div class="txt_' + myUUID + '">Tagging...</div>';
			$("#f_" + myUUID).replaceWith(msghtml);
			$(".txt_"+myUUID).css("margin-top", "60px");
	    }
		function remove() {
			$(divID).remove();
			if (document.title.substring(0, 12) == '(Saving...) ') document.title = document.title.substring(12);
		}
		function S4() {
		   return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
		}
		function guid() {
		   return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
		}
	}
)();