    <div id="page">
      <!-- <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Browse the documentation</h3>
            <ul class="links">
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
              <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
              <li><a href="http://www.ruby-doc.org/core/">Ruby core</a></li>
              <li><a href="http://www.ruby-doc.org/stdlib/">Ruby standard library</a></li>
            </ul>
          </li>
        </ul>
      </div> -->

      <div id="content">
        <div id="header">
          <h1>NYPL Tagger</h1>
          <h2>Take control of the Library!</h2>
        </div>

        <div id="about">
          <h2><a href="<%= @bookmarklet_js %>" title="Tag this!" class="bookmarklet">Tag this!</a> &lt;- This is the Tagger bookmarklet.</h2>
          <p>Drag to your bookmarks bar to make use of it throughout the web!</p>
        </div>
      <div id="footer">&nbsp;</div>
    </div>
